

 
:root{
    --color-background: #0F172A;
    --color-surface: #1E293B;
    --color-text: #ffffff;
    --color-secondary-text: #94A3B8;
    --color-primary: #3B82F6;
    --color-accent: #FACC15;
    --color-error: #EF4444;
    --color-success: #10B981;

} 